{% extends 'base.html' %}

{% block title %}MiniBlog | Post Details{% endblock %}

{% block content %}

<h2>Blog Titles</h2>

<ul>
    {% for title in Title %}

        {% if title.recent %}
            <li style="color:brown; font-size:18px; font-weight:bold;">
                {{ title.title }}
            </li>
        {% else %}
            <li>
                {{ title.title }}
            </li>
        {% endif %}

    {% empty %}
        <li>No posts available</li>
    {% endfor %}
</ul>

{% endblock %}